# Don't track content of these folders
target/
bin/
.settings/
.vscode/
.mvn/
.gradle/
gradle/
src/main/appengine/
src/main/webapp/
.idea/

#Files
.classpath
.project
*.springBeans
build.gradle
docker-compose.yml
gradlew
gradlew.bat
mvnw
mvnw.bat
mvnw.cmd
finder.iml
HELP.md


# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip